/* General Styling */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: #071c14;
}

/* Sidebar Styling */
.sidebar {
  position: fixed;
  width: 60px;
  height: 100vh;
  background: #dee7e2;
  overflow: hidden;
  transition: 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 50px 40px black;
}

.sidebar:hover {
  width: 350px;
}

.sidebar ul {
  height: 100%;
  width: 100%;
}

.sidebar ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.sidebar ul li:hover {
  transition: 0.8s;
  background: #b3d1b3;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 1.5rem;
  color: #222222;
}

.sidebar ul li a .text {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.sidebar .icon-logo {
  margin-bottom: 20px;
}

.sidebar .icon-logo .text {
  font-size: 1.05em;
  font-weight: 300;
}

.sidebar .icon-logo .text:hover {
  background: #dee7e2;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.center_record {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}


#header1 {
  text-align: center;
}


.container{
    background: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
  }
  form{
    margin: 0 2rem;
  
  }
  .form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
  }
  input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
  }
  
  .input-group {
    padding: 1% 0;
    position: relative;
  }
  
  .input-group i {
    position: absolute;
    left: 2px;
    top: 45%;
    transform: translateY(-50%);
    color: black;
  }
  
  input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 40px; /* Adjust padding to account for the icon */
    font-size: 15px;
  }
  
  input:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
  }
  
  input::placeholder {
    color: transparent;
  }
  
  label {
    color: #757575;
    position: absolute;
    left: 30px; /* Align the label to the left near the input */
    top: 50%;
    padding-bottom: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease all;
  }
  
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -.5em; /* Move label upwards */
    font-size: 12px; /* Make the label smaller */
    color: hsl(327, 90%, 28%);
  }
  .btn{
    font-size: 1.1rem;
    max-width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color: rgb(125, 125, 235);
    color: white;
    cursor: pointer;
    transition: 0.9s;
    text-align: center;


    padding: 10px 80px;
  text-decoration: none;

  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.9em;
  display: block;
  }
  .btn:hover{
    background: #07001f;
  }
  .error {
    color: #af4242;
    background-color: #fde8ec;
    padding: 15px;
    transform: translateX(0px);
    margin-bottom: 10px;
    font-size: 15px;
    display: block;
  }
.successful {
    color: 4caf50;
    background-color: #fde8ec;
    padding: 15px;
    display: block;
    transform: translateX(0px);
    margin-bottom: 10px;
    font-size: 15px;
}