@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        
    }
}

body {
    background-color: #071c14;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-top: 10px;
    color: black;
    text-align: center;
}

form {
    height: 35%;
    max-width: 300px;
    width: 100%;
    padding: 30px;
    padding-bottom: 3%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 10px #000000db;
    text-align: center;
    animation: fadeIn .5s ease-in-out;
}

label, input {
    color: black;
    font-size: 20px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

input[type="text"] {
    margin-left: -10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
}
/* Developers: Backend Developer: Michael Enoza, Frontend Developer: Kyle Ambat */
input[type="submit"] {
    margin-left: 15%;
    align-items: center;
    background-color: #1e7041;
    color: white;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #145b32;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    text-align: center;
}

p a {
    color: #1e90ff;
}
.error {
    color: red;
    text-align: center;
    animation: fadeIn .5s ease-in-out;
}
